#cardType {
    height: 945px;
    background: #ffffff;
  }
  
  #cardType > h2 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
  }
  
  #cardType > p {
    font-size: 22px;
    font-weight: 300;
    margin: 40px;
    text-align: center;
  }
  /* card_inner */
  .card__inner {
    display: flex;
    width: 1160px;
    margin: 0 auto;
  }
  /* card_header */
  .card__header img {
    width: 376px;
    height: 525px;
  }
  /* card */
  .card {
    margin: 30px auto;
    padding-top: 80px;
  }
  /* card_body */
  .card__body {
    padding: 27px;
    text-align: center;
    position: relative;
    top: -100px;
  }
  /* color */
  .card_color01 {
    background-color: #9bb3d7;
    opacity: 0.7;
  }
  .card_color01 a {
    text-decoration: underline;
    display: inline-block;
  }
  .card_color02 {
    background-color: #cdeeff;
    opacity: 0.7;
  }
  .card_color03 {
    background-color: #ffd7d7;
    opacity: 0.7;
  }
  /* title */
  .card__body .title {
    font-size: 24px;
    font-weight: 800;
    color: #103b31;
    line-height: 1.2;
  }
  /* btn */
  .card__body .btn {
    color: #103b31;
    font-size: 14px;
  }