#textType {

    height: 681px;
    background-color: #F6F8FD;
  }
  /* textType_wrap */
 .textType__wrap {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0px auto;
    padding-top: 150px;
  }
  /* textType_text */
  .textType__text {
    width: 30%;
  }
  .textType__text span {
    background: #f2d096;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 20px;
    display: inline-block;
  }
  .textType__text h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .textType__text p {
    margin-top: 20px;
    line-height: 1.5;
    font-size: 16px;
  }
  /* textType_inner */
  .textType__inner {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 36px;
  }
  .textType__inner .text {
    width: 45%;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
    
  }
  .textType__inner .text h3 {
    margin-bottom: 20px;
    padding-top: 60px;
    position: relative;
  }
  .textType__inner .text h3:before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .textType__inner .text:nth-child(1) h3::before {
    background-image: url('../images/texttype4.png');
    background-size: contain;
  }
  .textType__inner .text:nth-child(2) h3::before {
    background-image: url('../images/texttype2.png');
    background-size: contain;
  }
  .textType__inner .text:nth-child(3) h3::before {
    background-image: url('../images/texttype3.png');
    background-size: contain;
  }
  .textType__inner .text:nth-child(4) h3::before {
    background-image: url('../images/texttype1.png');
    background-size: contain;
  }

  .textType__inner .text p {
    word-break: keep-all;
  }
  